version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-name: "github.com/DIMO-Network/model-garage"
    commit-message:
      prefix: "chore(deps)"
    labels:
      - "dependencies"
      - "go"
